.section1 {
  height: 100vh;
  /* width: 100vw; */
  overflow: hidden;
}

.section1 > div:nth-child(1) {
  background-image: url('../../assets/ballons.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.section2 {
  height: 100vh;
}

.section3 {
  height: 100vh;
  /* width: 100vw; */
  overflow: hidden;
}

.section3 > div:nth-child(1) {
  background-image: url('../../assets/ballons-pink.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.section1-content {
  display: flex;
  flex-direction: column;
  width: 751px;
  height: 100%;
  gap: 4rem;
  /* background: blue; */
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section1-text1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 751px;
  height: 100px;
  /* background: #858585; */
}

.section1-text1 h1 {
  font-size: 42px;
  font-weight: 700;
  color: #263049;
  font-family: 'Roboto Condensed';
  line-height: 80px;
}

.section1-text2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 624px;
  height: 61px;
  /* background: #5e0303; */
}

.section1-text2 h1 {
  font-size: 42px;
  font-weight: 700;
  color: #263049;
  font-family: 'Roboto Condensed';
  line-height: 60.94px;
}

.createEvent {
  width: 234.55px;
  height: 63px;
  /* border: 1px solid; */
  font-weight: 500;
  border-radius: 50px;
  font-size: 24px;
  color: #fff;
  background: #263049;
}

.section2-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 116px;
  font-size: 42px;
  font-weight: 700;
  color: #263049;
  font-family: 'Roboto Condensed';
  line-height: 60.94px;
}

.howWork {
  display: flex;
  width: 480px;
  justify-content: center;
  margin-top: 1rem;
  /* background: green; */
}

.howWork-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.howWork-btn1 {
  background: #b4e0df;
  border-radius: 50px 0px 0px 50px;
  width: 50%;
  padding: 0.4rem;
  /* padding: 28px 30px; */
}

.howWork-btn1 p {
  font-weight: bold;
  font-size: 24px;
  margin-right: 1.2rem;
}

.howWork-btn2 {
  width: 50%;
  border-radius: 0px 50px 50px 0px;
  background-color: rgba(180, 224, 223, 0.5);
}

.howWork-btn2 p {
  color: rgba(38, 48, 73, 0.5);
  font-size: 24px;
  font-weight: bold;
  margin-left: 0.2rem;
}
